
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}


.applicazione{
  background-color: white;
  border:5px solid green;
  position: absolute;
  transform: translate(34%, 24%);
  display: flex;


  width: 60%;
  height: 600px;
}
/* sezione contatti */
.contatti{
  width: 30%;
  height: 100%;

  border-right: 2px solid black;

  background-color: rgb(99, 231, 112);
}
/* sezione chat */
.chat{
  width: 70%;
  height: 100%;

  background-color: rgba(37, 214, 156, 0.49);
}
/* display messaggi */
.msg-box{
  width: 100%;
  height: 90%;
}

.msg-box .msg-list{
  list-style: none;
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;

  position: relative;
  top: 20px;
  left: 20px;

  background-color: white;
}

.msg-list .utente{
  margin-top: 10px ;
  padding: 10px;

  color: white;
  background-color: green;
  border-radius: 15px;
  text-align: right;
}

.msg-list .contatto{
  margin-top: 10px ;
  padding: 10px;

  color: black;
  background-color: white;
  width: 60%;
  border-radius: 15px;
}

/* input messaggio */
.type-box{
  width: 100%;
  height: 10%;

  display: flex;
  justify-content:space-around;
  align-items: center;
}

.type-box input{
  width: 80%;
  padding: 20px;
}

.type-box i{
  font-size: 25px;
  color: green;
}
