
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}


.applicazione{
  background-color: white;
  border:5px solid green;
  position: absolute;
  transform: translate(34%, 24%);
  display: flex;


  width: 60%;
  height: 600px;
}
/* sezione contatti */
.contatti{
  width: 30%;
  height: 100%;

  border-right: 2px solid black;

  background-color: rgb(99, 231, 112);
}

/* profilo */

.contatti .header{
  background-color: lightgray;
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contatti .header img{
  width: 18%;
  height: auto;
  margin: 5px;


  border-radius: 50%;
}

.contatti .header .right-icons{
  color: grey;
  font-size: 20px;
}

.contatti .header .right-icons i{
  margin-right:10px;

  cursor: pointer;
}

/* notifica */

.contatti .notifica{
  background-color: rgb(104, 217, 237);

  width: 100%;
  height: 50px;
  padding: 10px;

  display: flex;
  align-items: center;

}

.contatti .notifica i{
  padding: 5px;
  margin: 5px 5px 5px 0;
  background-color: white;
  border-radius: 50%;
  color: rgb(104, 217, 237);

}

.contatti .notifica p:nth-child(1){
  font-size: 16px;
}

.contatti .notifica p:nth-child(2){
  font-size: 12px;
  color: rgb(51, 51, 51);
}

/* lista contatti */
/* input ricerca */
.contatti .contact-box .search input{
  border: 0;

  width: 100%;
  height: 25px;

  position:
  color: lightgray;

  /* background: url(img/search-solid.svg) no-repeat scroll 7px 7px; */
  background-color: white;
  padding-left:30px;
}

.contatti .contact-list{
  display: flex;
  flex-direction: column;


  list-style: none;
}

.contatti .contact-list li{
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;
  border-top: 1px solid lightgray;
}

.contatti .contact-list li .contact-info{
  display: flex;
  align-items: center;
}

.contatti .contact-list li img{
  width: 15%;
  height: auto;

  border-radius: 50%;
  margin: 5px;
}

.contatti .contact-list li p:nth-child(1){
  font-size: 16px;
}

.contatti .contact-list li p:nth-child(2){
  font-size: 12px;
  color: gray;
}

.contatti .contact-list .contact-selected{
  background-color: lightgray;
}

.contatti .contact-list li .timestamp p{
  font-size: 12px;
  margin-right: 4px;
}
/* sezione chat */
.chat{
  width: 70%;
  height: 100%;

  background-color: rgba(37, 214, 156, 0.49);
}

/* header chat */

.chat .header{
  width: 100%;
  height: 70px;
  background-color: lightgray;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat .header .chatter{
  display: flex;
  align-items: center;

}

.chat .header .chatter img{
  width: 16%;
  height: auto;
  margin: 5px;


  border-radius: 50%;
}

.chat .header .chatter .info-chatter{
  margin-left: 15px;
}

.chat .header .chatter .info-chatter p:nth-child(1){
 font-size: 15px;
}

.chat .header .chatter .info-chatter p:nth-child(2){
 font-size: 12px;
 color: gray;
}

.chat .header .right-icons{
  color: grey;
  font-size: 20px;
}

.chat .header .right-icons i{
  margin-right:10px;

  cursor: pointer;
}


/* display messaggi */
.msg-box{
  width: 100%;
  height: 90%;
}

.msg-box .msg-list{
  list-style: none;
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;

  position: relative;
  top: 20px;
  left: 20px;

  background-color: white;
}

.chat-box{
  width: 100%;
}

.chat-box .utente{
  position: relative;
  right: 0;
  margin-left: 40%;
  max-width: 60%;
  min-width: 10%;
}

.messaggio{
  display: none;

  margin-top: 10px ;
  padding: 10px;

  color: white;
  background-color: green;
  border-radius: 15px;

  text-align: right;
}

.sent{
  display: block;
}

.chat-box .contatto{
  position: relative;

  text-align: left;
  max-width: 60%;
  min-width: 10%;
  margin-right: 40%;
}

.ricevuto{
  display: block;

  color: black;
  background-color: white;
  border-radius: 15px;
  margin-top: 10px ;
  padding: 10px;
}

/* messaggio template */

#template-messaggio{
  display: none;
}

/* input messaggio */
.type-box{
  width: 100%;
  height: 10%;

  display: flex;
  justify-content:space-around;
  align-items: center;
}

.type-box input{
  width: 80%;
  padding: 20px;
}

.type-box i{
  font-size: 25px;
  color: green;
}
